@media screen and (max-width:700px){

    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }

   
    .contas-perfil ul{
        display: flex;
        flex-direction: column;
        list-style: none;    
       
    }

   
}
    
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}